@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  font-family: "Fira Code", monospace;
  font-size: 14px;
}

.frame {
  height: 75vh;
  width: 50vw;
  border: 0.5em solid rgb(69, 63, 63);
  border-radius: 1em;
  margin: 10vh auto;
}

.controls,
.panel,
.product {
  border: 0.25em solid rgb(69, 63, 63);
  border-radius: 0.5em;
  margin: 0.8em;
  height: fit-content;
  font-size: 1.2em;
}
.controls {
  display: flex;
  justify-content: space-between;
  max-height: 4em;
}
.controls button {
  background-color: darkblue;
  border-radius: 0.8em;
  margin: 0.5em;
  padding: 0.5em;
  font-weight: 600;
  font-size: inherit;
  width: 7em;
}
.active {
  color: antiquewhite;
}
.inactive {
  color: darkgray;
}
.selected {
  outline: 0.4rem solid darkred;
  outline-offset: 0.15rem;
}
.screen-view {
  height: 45vh;
  width: 45vw;
  margin: 0.5em auto;
  padding: 0.1% 1%;
  background-color: #333;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.invisible {
  display: none;
}
.red-text {
  color: lightcoral;
}
.screen-view {
  color: chartreuse;
}
.output {
  height: 2em;
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  padding: 0.5em 0;
  margin-top: auto;
  margin-bottom: auto;
}
.left-side {
  width: 65%;
  padding-left: 1em;
}
.right-side {
  width: 30%;
}

/* Media queries
 =========================== */
/* 27" monitor */
@media screen and (width>=2200px) {
  body {
    font-size: 20px;
  }
}
/* 15" laptop */
@media screen and (1590px<width<2200px) {
  body {
    font-size: 16px;
  }
}
@media screen and (width<1590px) {
  .controls button {
    /* width: 6.5em; */
    font-size: 0.75em;
  }
}
