@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  font-family: "Fira Code", monospace;
}

.frame {
  height: 75vh;
  width: 50vw;
  border: 0.5em solid rgb(69, 63, 63);
  border-radius: 1em;
  margin: 10vh auto;
}

.controls,
.panel,
.product {
  border: 0.25em solid rgb(69, 63, 63);
  border-radius: 0.5em;
  margin: 0.8em;
  height: fit-content;
}
.controls {
  display: flex;
  justify-content: space-between;
}
.controls button {
  background-color: darkblue;
  border-radius: 0.8em;
  margin: 0.5em;
  padding: 0.5em;
  font-weight: 600;
}
.coffee-buttons > button {
  color: darkgrey;
}
.white-text {
  color: antiquewhite;
}
.screen-view {
  height: 45vh;
  width: 45vw;
  margin: 0.5em auto;
  padding: 0.1% 1%;
  background-color: #333;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.invisible {
  display: none;
}
.red-text {
  color: lightcoral;
}
.screen-view {
  color: chartreuse;
}
.output {
  height: 3.5em;
  color: #333;
}
.left-side {
  width: 65%;
}
.right-side {
  width: 30%;
}
